@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}





body {
    font-family: Chakra Petch, sans-serif;
    text-align: center;
    background-color: #D8DFE8;
  }


.logo{
 padding-top: 20px;
 width:100px;
 height: 48px;
}

img {
    width: 70px;
}

.imagem{
    width: 250px;
    padding-top: 50px;
}

h1 {
    color: #0A3871;
}

p{
    color: #0A3871;
}

a {
  color: #9fa1a3;
  text-decoration: none;
  font-style: unset;
}


label {
    
    color: #0A3871;
}

  input {
    padding: 8px;
    margin-right: 700px;
    font-size: 24px;
    border: none;
    outline: none;
    background: none;
    
  }

  #texto {
    color: #0A3871;
  }


  #texto::placeholder {
    color: #0A3871;
   
  }

  button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    
  }



  .btnCript {
    width: 328px;
    height: 40px;
    border-radius: 15px;
    background-color: #0A3871;
    color: #ffffff;
  }

  .btnDescript {
    width: 328px;
    height: 40px;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: #0A3871;
  }


  #btnCopiar {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #f0f0f0;
    color: #0A3871;
    padding: 10px;
    margin-top: 400px;

    
  }

  .container {
    margin-left: 25px;
    float: left;
    padding-top: 350px;
    
  }

  #resultado-container {
    color: #0A3871;
    margin-top: 30px;
    background-color: #ffffff;
    width: 300px;
    height: 90vh;
    border-radius: 32px;
    top: 0;
    margin-left: 1020px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-weight: bolder;
    font-size: larger;
    
  }


 

footer {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


/* Media queries para ajustar estilos em diferentes tamanhos de tela */

@media screen and (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    
  }

  input {
      font-size: 16px;
      margin-left: 100px;
      margin-top:50px;
  }
  
h1 {
 margin-right: 200px;
}

  p {
    font-size: 12px;
    text-align: center;
    
}

button {
  max-width: 250px;
  margin-left: 20px;
}



  .container {
    padding-top: 20px; 
    padding-bottom: 20px;
    max-width: 70%;
    
  }

  #resultado-container{
    top: 400px;
    left: 170px;
    margin: 0 auto;
    max-width: 250px;
    height: 300px;
    position: absolute;
   
  }

  

  #btnCopiar {
    margin: 150px auto;
    
  }

  img {
    max-width: 100px;
  }

  footer {
   margin-left: -222px;
   position: fixed;
   
  }

}


@media screen and (max-width: 480px) {

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  input {
    font-size: 16px;
    margin-left: 100px;
    margin-top:50px;
}

h1 {
margin-left: 130px;
top:40px;
}

p {
  font-size: 12px;
  margin-left: 100px;
  text-align: center;
}

#paragrafoResultado {
  margin-left: 10px;
  text-align: center;
}

button {
max-width: 250px;
margin-left: 70px;
}



.container {
  padding-top: 20px; 
  padding-bottom: 20px;
  max-width: 70%;
  
}

#resultado-container{
  top: 400px;
  left: 95px;
  margin: 0 auto;
  max-width: 250px;
  height: 300px;
  position: absolute;
 
}



#btnCopiar {
  margin: 150px auto;
  
}

img {
  max-width: 100px;
}

footer {
 
 margin-left: -330px;
 text-align: center;
 
}


}